* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Mobile Version */
@media (min-width: 320px) and (max-width: 767px) {

    body {
        align-items: center;
    }

    main {
        position: relative;
        top: 50px;
        margin: auto;
        background-color: aquamarine;
        width: 80%;
        height: 80vh;
    }

    .box-player {
        margin: 0 auto;
        justify-content: center;
    }

}